<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="static/css/default.css">
	</head>
	<body>
		<!--
		<div class="container">
			Hello {{ name }}
		</div>
		-->
		<form id="user-input">
			<!-- Long link text field -->
			<label> Type link you would like to shorten </label>
			</br>
			<input type=text id="long-link">
			</br>
			</br>
			<!-- Short link text field -->
			<label> Type link you would like to shorten it to </label>
			</br>
			<input type=text id="short-link">
			</br>
			</br>
			<input type=submit value="Shorten!">
			</br>
		</form>
	</body>
</html>
