<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="static/css/default.css">
	</head>
	<body>
		<!--
		<div class="container">
			Hello {{ name }}
		</div>
		-->
		<div id="titleContainer">
			<h1>SHoRT</h1>
			<h3>For the lazy, by the lazy</h3>
		</div>
		<form id="user-input">
			<!-- Long link text field -->
			<label> Enter link you would like to shorten </label>
			</br>
			<input type=text id="long-link">
			</br>
			</br>
			<!-- Short link text field -->
			<label> Enter what you want above link to shorten to </label>
			</br>
			<input type=text id="short-link">
			<!--
			<input type=button id="random" value= Random>
			-->
			</br>
			</br>
			<input type=submit value="Shorten!">
			</br>
		</form>
	</body>
</html>
