body {
	/* load and configure background image */
	background-color: orange;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-ms-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	text-align: left;
	color:black;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

h3 {
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

#submitBtn {
	font-weight: bold;
}
#displayContainer {
	width: 780px;
	margin: 0 auto;
	text-align: center;
}
#explanationContainer {
	font-style: italic;
}
